.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: #191919;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    background: #252525;
    width: 500px; /* Adjusted for smaller screens */
    height: 631px;
    padding: 20px; /* Add padding for content */
    box-sizing: border-box; /* Include padding in width calculation */
}

.formElementsContainer{
    display: flex;
    flex-direction: column;
}

.titleContainer {
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 60px;
    text-align: center;
}

.loginTitle {
    color: #ffffff;
    font-family: Rubik;
    font-size: 35px;
}

.inputField {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.inputField input {
    width: 336px;
    max-width: 400px;
    height: 35px;
    background: transparent;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    border: none;
    border-bottom: 2px solid #1b1b1b;
    outline: none;
    box-shadow: none;
    color: #ffffff;
    padding-left: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.loginButton {
    width: 91px;
    height: 34px;
    border-radius: 30px;
    margin-left: 36px;
    margin-top: 26px;
    background: #7c3ae3;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.forgotPasswordLink {
    margin-left: 36px;
    font-family: Rubik;
    font-size: 12px;
    cursor: pointer;
    color: #878787;
}

@media (max-width: 503px) {
    .loginForm {
        width: 100%; /* Adjusted for smaller screens */
    }
}

@media (max-width: 380px) {
    .inputField input {
        width: 100%;
    }
}
